@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  /* background: #ffff; */
  background: #b2b9b9;
  /* background: rgb(189, 149, 159); */
}
.logo {
  font-family: "Berkshire Swash", cursive;
  color: #8ca6a2;
}
.text_shadows {
  text-shadow: 3px 2px #a56f7c;
}

.btn_style {
  @apply rounded-lg text-white bg-[#A4747F] border-0 py-4 px-8 hover:bg-[#8CA6A2];
}

.my_container {
  @apply sm:max-w-full md:max-w-full lg:max-w-screen-xl mx-auto;
}

.img_hover {
  @apply transition duration-500 transform ease-in-out hover:scale-105;
}
