@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background-color: #a5aead;
}
.logo {
  font-family: "Berkshire Swash", cursive;
  color: #8ca6a2;
}

.my_container {
  @apply sm:max-w-full md:max-w-full lg:max-w-screen-xl mx-auto;
}
